<div class="pageDiv" th:fragment="html">
	<nav>
	  <ul class="pagination">
	    <li :class="{ disabled: pagination.first }">
	      <a  href="#nowhere" @click="jump('first')">main page</a>
	    </li>
	    <li :class="{ disabled: !pagination.hasPrevious }">
	      <a  href="#nowhere" @click="jump('pre')">previous page</a>
	    </li>		    

		<li  v-for="i in pagination.navigatepageNums">
			<a href="#nowhere" @click="jumpByNumber(i-1)" >
				{{i}}
			</a>
		</li>

	    <li :class="{ disabled: !pagination.hasNext }">
	      <a  href="#nowhere" @click="jump('next')">next page</a>
	    </li>
	    <li :class="{ disabled: pagination.last }">
	      <a  href="#nowhere" @click="jump('last')">last page</a>
	    </li>		    
	  </ul>
	</nav>    
</div>
