<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
Project Title: tmall-online shopping platform<br><br><br>
Team Members: YUXI GAO<br><br><br>
Description:
<div>
    The online e-commerce platform integrates thousands of brands and manufacturers, provides one-stop solutions for
    businesses and consumers, and supports the whole process of goods on the shelf, goods purchase, payment and
    performance
</div>
Tools:<br><br><br>
- URL for Code Repository on gitHub:https://github.com/ltChinaCoder/tmall<br><br><br>
-Main URL entry point to the Site <br><br><br>
<div >
    http://localhost:8888/bought.html View purchased orders<br>
    http://localhost:8888/buy.html To buy a product<br>
    http://localhost:8888/cart.html View shopping cart<br>
    http://localhost:8888/login.html account login<br>
    http://localhost:8888/payed.html Paid orders<br>
    http://localhost:8888/register.html User registration<br>
    http://localhost:8888/admin_category_list.html category management<br>
    http://localhost:8888/admin_user_list.html user management<br>
    http://localhost:8888/admin_order_list.html order management<br>
    http://localhost:8888/alipay.html online pay way
</div> <br><br><br>
-PM tool used nk <br><br><br>
<a href="home.html">User Site Map</a>
<a href="../admin/listCategory.html">Admin Map</a>
</body>
</html>